<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(T4NarvaloTemplates)\Monad.Facts.tt" #>
<#@ include file="$(T4NarvaloTemplates)\Either.tt" #>
<#= new EitherTemplate(this).Execute() #>
<#+

public partial class EitherTemplate : MonadTemplate
{
    protected override void WriteContent()
    {
        InitializeGenericParameters("T", "My.Obj");

        EmitFacts();
    }
}

#>
