<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(T4NarvaloTemplates)\Monad.Facts.tt" #>
<#@ include file="$(T4NarvaloTemplates)\Ident.tt" #>
<#= new IdentFactsTemplate(this).Execute() #>
<#+

    public partial class IdentFactsTemplate : IdentTemplate
    {
        public IdentFactsTemplate(TextTransformation parent) : base(parent) { }

        protected override void WriteContent()
        {
            EmitFacts();
        }
    }

#>