<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(T4NarvaloTemplates)\Monad.Facts.tt" #>
<#@ include file="$(T4NarvaloTemplates)\Result.tt" #>
<#= new ResultTemplate(this).Execute() #>
<#+

    public partial class ResultTemplate : MonadTemplate
    {
        protected override void WriteContent()
        {
            EmitFacts();
        }
    }

#>