<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="Monad.tt" once="true" #><#+

    public partial class EitherTemplate : MonadTemplate
    {
        public EitherTemplate(TextTransformation parent) : base(parent) { }

        public override void Initialize()
        {
            InitializeNamespaces();
            InitializeGenericParameters("TLeft", "TRight");
        }
    }
#>