<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="Monad.tt" once="true" #><#+

    public partial class IdentTemplate : MonadTemplate
    {
        public IdentTemplate(TextTransformation parent) : base(parent) { }

        public override void Initialize()
        {
            IsNullable = false;
        }

        protected override void WriteContent()
        {
            EmitMonad(false);
            EmitComonad();
        }
    }

#>