<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="Monad.tt" once="true" #><#+

    public partial class MaybeTemplate : MonadTemplate
    {
        public MaybeTemplate(TextTransformation parent) : base(parent) { }

        public override void Initialize()
        {
            InitializeOr();

            IsNullable = false;
        }
    }

#>