<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
<#@ include file="Monad.tt" once="true" #><#+

    public partial class ResultOrEdiTemplate : MonadTemplate
    {
        public ResultOrEdiTemplate(TextTransformation parent) : base(parent) { }

        public override void Initialize()
        {
            InitializeHelpers(true);

            Name = "Result";
            IsNullable = false;
            EmitLinq = true;
        }
    }
#>