<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge"
                   cacheControlMaxAge="365.00:00:00" httpExpires="Sun, 29 Mar 2020 00:00:00 GMT"
                   xdt:Transform="Insert" />
    </staticContent>
  </system.webServer>
</configuration>