# EditorConfig is awesome:http://EditorConfig.org

# top-most EditorConfig file
root = false

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4

# Newline settings
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = false
