<#@ include file="..\..\..\..\Narvalo.Core\CodeTemplates\Monad.tt" #>
<# 
    InitializeOr();

    UnderlyingTypeConstraint = "struct";
    IsNullable = false;
#>
<# EmitMonad(); #>

<# EmitLinq(); #>