<#@ include file="..\..\..\..\Narvalo.Fx\CodeTemplates\Monad.tt" #>
<# 
    InitializeOr();

    AdvancedNamespace = Namespace;
    UnderlyingTypeConstraint = "struct";
    IsNullable = false;
#>
<# EmitMonad(); #>

<# EmitLinq(); #>