<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(T4NarvaloTemplates)\ResultOrEdi.tt" #>
<#= new ResultOrEdiTemplate(this).Execute() #>