<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Narvalo.Build" version="0.16.0.1" />
  <package id="Narvalo.Common" version="0.19.0" />
  <package id="Narvalo.Core" version="0.19.0" />
  <package id="Narvalo.Mvp" version="0.25.0.1" edge="1.0.0-alpha" />
  <package id="Narvalo.Mvp.Web" version="0.25.0.1" edge="1.0.0-alpha" />
  <package id="Narvalo.Web" version="0.19.0" />
</packages>