<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Narvalo Rules" Description="This rule set contains all rules. Running this rule set may result in a large number of warnings being reported. Use this rule set to get a comprehensive picture of all issues in your code. This can help you decide which of the more focused rule sets are most appropriate to run for your projects." ToolsVersion="14.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1006" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="Error" />
    <Rule Id="CS0028" Action="Error" />
    <Rule Id="CS0078" Action="Error" />
    <Rule Id="CS0105" Action="Error" />
    <Rule Id="CS0108" Action="Error" />
    <Rule Id="CS0109" Action="Error" />
    <Rule Id="CS0114" Action="Error" />
    <Rule Id="CS0162" Action="Error" />
    <Rule Id="CS0164" Action="Error" />
    <Rule Id="CS0168" Action="Error" />
    <Rule Id="CS0183" Action="Error" />
    <Rule Id="CS0184" Action="Error" />
    <Rule Id="CS0197" Action="Error" />
    <Rule Id="CS0219" Action="Error" />
    <Rule Id="CS0251" Action="Error" />
    <Rule Id="CS0252" Action="Error" />
    <Rule Id="CS0253" Action="Error" />
    <Rule Id="CS0278" Action="Error" />
    <Rule Id="CS0279" Action="Error" />
    <Rule Id="CS0280" Action="Error" />
    <Rule Id="CS0282" Action="Error" />
    <Rule Id="CS0402" Action="Error" />
    <Rule Id="CS0419" Action="Error" />
    <Rule Id="CS0420" Action="Error" />
    <Rule Id="CS0435" Action="Error" />
    <Rule Id="CS0436" Action="Error" />
    <Rule Id="CS0437" Action="Error" />
    <Rule Id="CS0440" Action="Error" />
    <Rule Id="CS0458" Action="Error" />
    <Rule Id="CS0464" Action="Error" />
    <Rule Id="CS0465" Action="Error" />
    <Rule Id="CS0469" Action="Error" />
    <Rule Id="CS0472" Action="Error" />
    <Rule Id="CS0473" Action="Error" />
    <Rule Id="CS0612" Action="Error" />
    <Rule Id="CS0618" Action="Error" />
    <Rule Id="CS0626" Action="Error" />
    <Rule Id="CS0628" Action="Error" />
    <Rule Id="CS0642" Action="Error" />
    <Rule Id="CS0652" Action="Error" />
    <Rule Id="CS0657" Action="Error" />
    <Rule Id="CS0658" Action="Error" />
    <Rule Id="CS0659" Action="Error" />
    <Rule Id="CS0660" Action="Error" />
    <Rule Id="CS0661" Action="Error" />
    <Rule Id="CS0665" Action="Error" />
    <Rule Id="CS0672" Action="Error" />
    <Rule Id="CS0675" Action="Error" />
    <Rule Id="CS0684" Action="Error" />
    <Rule Id="CS0693" Action="Error" />
    <Rule Id="CS0728" Action="Error" />
    <Rule Id="CS0809" Action="Error" />
    <Rule Id="CS0811" Action="Error" />
    <Rule Id="CS0824" Action="Error" />
    <Rule Id="CS1030" Action="Error" />
    <Rule Id="CS1058" Action="Error" />
    <Rule Id="CS1062" Action="Error" />
    <Rule Id="CS1064" Action="Error" />
    <Rule Id="CS1066" Action="Error" />
    <Rule Id="CS1072" Action="Error" />
    <Rule Id="CS1522" Action="Error" />
    <Rule Id="CS1570" Action="Error" />
    <Rule Id="CS1571" Action="Error" />
    <Rule Id="CS1572" Action="Error" />
    <Rule Id="CS1573" Action="Error" />
    <Rule Id="CS1574" Action="Error" />
    <Rule Id="CS1580" Action="Error" />
    <Rule Id="CS1581" Action="Error" />
    <Rule Id="CS1584" Action="Error" />
    <Rule Id="CS1587" Action="Error" />
    <Rule Id="CS1589" Action="Error" />
    <Rule Id="CS1590" Action="Error" />
    <Rule Id="CS1591" Action="Error" />
    <Rule Id="CS1592" Action="Error" />
    <Rule Id="CS1616" Action="Error" />
    <Rule Id="CS1633" Action="Error" />
    <Rule Id="CS1634" Action="Error" />
    <Rule Id="CS1635" Action="Error" />
    <Rule Id="CS1645" Action="Error" />
    <Rule Id="CS1658" Action="Error" />
    <Rule Id="CS1668" Action="Error" />
    <Rule Id="CS1685" Action="Error" />
    <Rule Id="CS1687" Action="Error" />
    <Rule Id="CS1690" Action="Error" />
    <Rule Id="CS1692" Action="Error" />
    <Rule Id="CS1695" Action="Error" />
    <Rule Id="CS1696" Action="Error" />
    <Rule Id="CS1697" Action="Error" />
    <Rule Id="CS1700" Action="Error" />
    <Rule Id="CS1701" Action="Error" />
    <Rule Id="CS1702" Action="Error" />
    <Rule Id="CS1710" Action="Error" />
    <Rule Id="CS1711" Action="Error" />
    <Rule Id="CS1712" Action="Error" />
    <Rule Id="CS1717" Action="Error" />
    <Rule Id="CS1718" Action="Error" />
    <Rule Id="CS1720" Action="Error" />
    <Rule Id="CS1723" Action="Error" />
    <Rule Id="CS1734" Action="Error" />
    <Rule Id="CS1735" Action="Error" />
    <Rule Id="CS1762" Action="Error" />
    <Rule Id="CS1927" Action="Error" />
    <Rule Id="CS1956" Action="Error" />
    <Rule Id="CS1957" Action="Error" />
    <Rule Id="CS1974" Action="Error" />
    <Rule Id="CS1981" Action="Error" />
    <Rule Id="CS1998" Action="Error" />
    <Rule Id="CS2002" Action="Error" />
    <Rule Id="CS2008" Action="Error" />
    <Rule Id="CS2023" Action="Error" />
    <Rule Id="CS2029" Action="Error" />
    <Rule Id="CS2038" Action="Error" />
    <Rule Id="CS3000" Action="Error" />
    <Rule Id="CS3001" Action="Error" />
    <Rule Id="CS3002" Action="Error" />
    <Rule Id="CS3003" Action="Error" />
    <Rule Id="CS3005" Action="Error" />
    <Rule Id="CS3006" Action="Error" />
    <Rule Id="CS3007" Action="Error" />
    <Rule Id="CS3008" Action="Error" />
    <Rule Id="CS3009" Action="Error" />
    <Rule Id="CS3010" Action="Error" />
    <Rule Id="CS3011" Action="Error" />
    <Rule Id="CS3012" Action="Error" />
    <Rule Id="CS3013" Action="Error" />
    <Rule Id="CS3014" Action="Error" />
    <Rule Id="CS3015" Action="Error" />
    <Rule Id="CS3016" Action="Error" />
    <Rule Id="CS3017" Action="Error" />
    <Rule Id="CS3018" Action="Error" />
    <Rule Id="CS3019" Action="Error" />
    <Rule Id="CS3021" Action="Error" />
    <Rule Id="CS3022" Action="Error" />
    <Rule Id="CS3023" Action="Error" />
    <Rule Id="CS3024" Action="Error" />
    <Rule Id="CS3026" Action="Error" />
    <Rule Id="CS3027" Action="Error" />
    <Rule Id="CS4014" Action="Error" />
    <Rule Id="CS4024" Action="Error" />
    <Rule Id="CS4025" Action="Error" />
    <Rule Id="CS4026" Action="Error" />
    <Rule Id="CS7022" Action="Error" />
    <Rule Id="CS7033" Action="Error" />
    <Rule Id="CS7035" Action="Error" />
    <Rule Id="CS7080" Action="Error" />
    <Rule Id="CS7081" Action="Error" />
    <Rule Id="CS7082" Action="Error" />
    <Rule Id="CS7090" Action="Error" />
    <Rule Id="CS7095" Action="Error" />
    <Rule Id="CS8001" Action="Error" />
    <Rule Id="CS8002" Action="Error" />
    <Rule Id="CS8009" Action="Error" />
    <Rule Id="CS8012" Action="Error" />
    <Rule Id="CS8018" Action="Error" />
    <Rule Id="CS8021" Action="Error" />
    <Rule Id="CS8029" Action="Error" />
    <Rule Id="CS8032" Action="Error" />
    <Rule Id="CS8033" Action="Error" />
    <Rule Id="CS8034" Action="Error" />
    <Rule Id="CS8073" Action="Error" />
    <Rule Id="CS8094" Action="Error" />
    <Rule Id="CS8105" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S100" Action="None" />
    <Rule Id="S1006" Action="None" />
    <Rule Id="S101" Action="None" />
    <Rule Id="S1066" Action="None" />
    <Rule Id="S108" Action="None" />
    <Rule Id="S1116" Action="None" />
    <Rule Id="S1117" Action="None" />
    <Rule Id="S1118" Action="None" />
    <Rule Id="S1121" Action="None" />
    <Rule Id="S1125" Action="None" />
    <Rule Id="S1134" Action="None" />
    <Rule Id="S1144" Action="None" />
    <Rule Id="S1145" Action="None" />
    <Rule Id="S1155" Action="None" />
    <Rule Id="S1172" Action="None" />
    <Rule Id="S1185" Action="None" />
    <Rule Id="S1186" Action="None" />
    <Rule Id="S1244" Action="None" />
    <Rule Id="S125" Action="None" />
    <Rule Id="S1449" Action="None" />
    <Rule Id="S1450" Action="None" />
    <Rule Id="S1479" Action="None" />
    <Rule Id="S1481" Action="None" />
    <Rule Id="S1643" Action="None" />
    <Rule Id="S1656" Action="None" />
    <Rule Id="S1698" Action="None" />
    <Rule Id="S1699" Action="None" />
    <Rule Id="S1764" Action="None" />
    <Rule Id="S1848" Action="None" />
    <Rule Id="S1854" Action="None" />
    <Rule Id="S1858" Action="None" />
    <Rule Id="S1862" Action="None" />
    <Rule Id="S1871" Action="None" />
    <Rule Id="S1905" Action="None" />
    <Rule Id="S1939" Action="None" />
    <Rule Id="S1940" Action="None" />
    <Rule Id="S1944" Action="None" />
    <Rule Id="S2123" Action="None" />
    <Rule Id="S2184" Action="None" />
    <Rule Id="S2190" Action="None" />
    <Rule Id="S2201" Action="None" />
    <Rule Id="S2219" Action="None" />
    <Rule Id="S2223" Action="None" />
    <Rule Id="S2225" Action="None" />
    <Rule Id="S2234" Action="None" />
    <Rule Id="S2259" Action="None" />
    <Rule Id="S2275" Action="None" />
    <Rule Id="S2278" Action="None" />
    <Rule Id="S2290" Action="None" />
    <Rule Id="S2291" Action="None" />
    <Rule Id="S2292" Action="None" />
    <Rule Id="S2306" Action="None" />
    <Rule Id="S2326" Action="None" />
    <Rule Id="S2328" Action="None" />
    <Rule Id="S2333" Action="None" />
    <Rule Id="S2344" Action="None" />
    <Rule Id="S2345" Action="None" />
    <Rule Id="S2346" Action="None" />
    <Rule Id="S2360" Action="None" />
    <Rule Id="S2368" Action="None" />
    <Rule Id="S2372" Action="None" />
    <Rule Id="S2376" Action="None" />
    <Rule Id="S2437" Action="None" />
    <Rule Id="S2486" Action="None" />
    <Rule Id="S2583" Action="None" />
    <Rule Id="S2681" Action="None" />
    <Rule Id="S2692" Action="None" />
    <Rule Id="S2696" Action="None" />
    <Rule Id="S2737" Action="None" />
    <Rule Id="S2743" Action="None" />
    <Rule Id="S2757" Action="None" />
    <Rule Id="S2758" Action="None" />
    <Rule Id="S2761" Action="None" />
    <Rule Id="S2930" Action="None" />
    <Rule Id="S2933" Action="None" />
    <Rule Id="S2934" Action="None" />
    <Rule Id="S2953" Action="None" />
    <Rule Id="S2971" Action="None" />
    <Rule Id="S2995" Action="None" />
    <Rule Id="S2996" Action="None" />
    <Rule Id="S2997" Action="None" />
    <Rule Id="S3005" Action="None" />
    <Rule Id="S3052" Action="None" />
    <Rule Id="S3168" Action="None" />
    <Rule Id="S3169" Action="None" />
    <Rule Id="S3172" Action="None" />
    <Rule Id="S3217" Action="None" />
    <Rule Id="S3218" Action="None" />
    <Rule Id="S3220" Action="None" />
    <Rule Id="S3234" Action="None" />
    <Rule Id="S3235" Action="None" />
    <Rule Id="S3236" Action="None" />
    <Rule Id="S3237" Action="None" />
    <Rule Id="S3241" Action="None" />
    <Rule Id="S3244" Action="None" />
    <Rule Id="S3246" Action="None" />
    <Rule Id="S3249" Action="None" />
    <Rule Id="S3251" Action="None" />
    <Rule Id="S3253" Action="None" />
    <Rule Id="S3254" Action="None" />
    <Rule Id="S3257" Action="None" />
    <Rule Id="S3261" Action="None" />
    <Rule Id="S3262" Action="None" />
    <Rule Id="S3263" Action="None" />
    <Rule Id="S3264" Action="None" />
    <Rule Id="S3265" Action="None" />
    <Rule Id="S3376" Action="None" />
    <Rule Id="S3397" Action="None" />
    <Rule Id="S3427" Action="None" />
    <Rule Id="S3440" Action="None" />
    <Rule Id="S3441" Action="None" />
    <Rule Id="S3443" Action="None" />
    <Rule Id="S3444" Action="None" />
    <Rule Id="S3445" Action="None" />
    <Rule Id="S3447" Action="None" />
    <Rule Id="S3449" Action="None" />
    <Rule Id="S3450" Action="None" />
    <Rule Id="S3451" Action="None" />
    <Rule Id="S3453" Action="None" />
    <Rule Id="S3456" Action="None" />
    <Rule Id="S3457" Action="None" />
    <Rule Id="S3458" Action="None" />
    <Rule Id="S3459" Action="None" />
    <Rule Id="S3466" Action="None" />
    <Rule Id="S3532" Action="None" />
    <Rule Id="S3597" Action="None" />
    <Rule Id="S3598" Action="None" />
    <Rule Id="S3600" Action="None" />
    <Rule Id="S3603" Action="None" />
    <Rule Id="S3604" Action="None" />
    <Rule Id="S3610" Action="None" />
    <Rule Id="S3626" Action="None" />
    <Rule Id="S3655" Action="None" />
    <Rule Id="S907" Action="None" />
    <Rule Id="S927" Action="None" />
  </Rules>
</RuleSet>