<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(T4NarvaloTemplates)\VoidOrError.tt" #>
<#= new VoidOrErrorTemplate(this).Execute() #>