
html {
  font-family: Georgia, "DejaVu Serif", Norasi, serif;
  font-size: 16px;
  line-height: 1.4;
}

body {
  background: #4f6db0;
  font-size: 1.1em;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 2em;
}

  h1 a {
    color: black;
  }

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
  font-style: italic;
}

ul, ol {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  color: orange;
  text-decoration: none;
}

  a:hover {
    color: blue;
    text-decoration: none;
  }
         
#content {
  background: #fff;
  width: 600px;
  min-height: 500px;
  margin: 0 auto;
  padding: 1em 2em;
}

.dynamically-loaded {
  margin: 10px;
  border: 1px solid #888;
  padding: 10px;
  text-align: center;
}

  .dynamically-loaded .success {
    border-color: green;
    color: green;
  }

  .dynamically-loaded .failed {
    border-color: red;
    color: red;
  }
