<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension=".g.cs" #>
<#@ include file="..\..\Narvalo.Common\CodeTemplates\Monad.tt" #>
<#
	Namespace = "Narvalo.Edu.Fx";

#if !MONAD_DISABLE_ZERO
	EnableZero();
#endif
#if !MONAD_DISABLE_PLUS
	EnablePlus();
#endif
#>
// Copyright (c) 2014, Narvalo.Org. All rights reserved. See LICENSE.txt in the project root for license information.

<# EmitLinq(); #>