<#@ include file="..\..\..\Narvalo.Core\CodeTemplates\Monad.tt" #>
<# InitializeOr(); #>
// Copyright (c) 2014, Narvalo.Org. All rights reserved. See LICENSE.txt in the project root for license information.

<# EmitMonad(); #>
<# EmitLinq(); #>