<#@ template language="C#" debug="false" hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(T4NarvaloTemplates)\MonadFacts.tt" #>
<#
    HasZero = false;
    ReturnName = "Success";

    EmitFacts();
#>