<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.3.0" targetFramework="net451" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net451" />
  <package id="MarkdownDeep.NET-StrongName" version="1.5" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.1" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.1" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Serilog" version="1.2.26" targetFramework="net451" />
</packages>