<%@ Master Language="C#" CodeBehind="Site.master.cs" Inherits="Playground.Layouts.SiteMasterPage" %>

<!DOCTYPE html>
<html lang="en">
<head runat="server">
 <meta charset="utf-8" />
 <title>Narvalo.Mvp.Web Demo Site.</title>
</head>
<body>
 <div id="content">
  <h1>
   <asp:HyperLink NavigateUrl="~/" runat=server>ASP.NET Web Forms MVP</asp:HyperLink>
  </h1>
  <asp:ContentPlaceHolder ID="MainContent" runat="server" />
 </div>
</body>
</html>
