<%@ Master Language="C#" CodeBehind="Site.master.cs"
 Inherits="Playground.WebForms.Layouts.SiteMasterPage" %>

<html lang="en">
<head runat="server" enableviewstate="false">
 <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
 <title>Narvalo.Mvp.Web Demo Site.</title>
</head>
<body>
 <div id="pageContainer">
  <asp:ContentPlaceHolder ID="MainContent" runat="server" />
 </div>
</body>
</html>
