<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <clear />
        <!-- Throw when Debug.Assert fails. -->
        <add name="Default" type="Narvalo.UnitTestTraceListener, Narvalo.Facts" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>