<#+

public partial class MonadTemplate
{
    protected void EmitComonadHelpers()
    {
#>
    // T4: EmitComonadHelpers().
    public static partial class <#= Name #>
    {
        public static T Extract<T>(this <#= Name #><T> @this) => <#= Name #><T>.ε(@this);

        public static <#= Name #><<#= Name #><T>> Duplicate<T>(this <#= Name #><T> @this) => <#= Name #><T>.δ(@this);
    }
<#+
    } // T4: End of EmitComonadHelpers().
} // T4: End of MonadTemplate.

#>