<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="14.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <RepositoryRoot>$([MSBuild]::GetDirectoryNameOfFileAbove($(MSBuildThisFileDirectory), Narvalo.sln))\</RepositoryRoot>
    <PublishUrl>$(RepositoryRoot)work\myget\</PublishUrl>
    <TransformFile>$(RepositoryRoot)etc\private\MyGet.NarvaloOrg.transform</TransformFile>
  </PropertyGroup>

  <PropertyGroup>
    <ExcludeFoldersFromDeployment>App_Readme;Packages</ExcludeFoldersFromDeployment>
  </PropertyGroup>

  <ItemGroup>
    <ExcludeFromPackageFiles Include="$(MSBuildProjectDirectory)\packages.config">
      <FromTarget>pubxml</FromTarget>
    </ExcludeFromPackageFiles>

    <ExcludeFromPackageFiles Include="$(MSBuildProjectDirectory)\bin\Elmah.*"
                             Condition=" '$(Configuration)' == 'Release' ">
      <FromTarget>pubxml</FromTarget>
    </ExcludeFromPackageFiles>
  </ItemGroup>

  <PropertyGroup>
    <DeleteAppCodeCompiledFiles>True</DeleteAppCodeCompiledFiles>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <DebugSymbols>False</DebugSymbols>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <EnableUpdateable>False</EnableUpdateable>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <publishUrl>$(PublishUrl)</publishUrl>
    <SiteUrlToLaunchAfterPublish />
    <UseMerge>True</UseMerge>
    <SingleAssemblyName>MyGet.AspNet</SingleAssemblyName>
    <WDPMergeOption>MergeAllOutputsToASingleAssembly</WDPMergeOption>
    <WebPublishMethod>FileSystem</WebPublishMethod>
  </PropertyGroup>

  <PropertyGroup>
    <AfterPipelineDeployPhaseDependsOn>
      TransformConfig
    </AfterPipelineDeployPhaseDependsOn>
  </PropertyGroup>

  <!-- _AfterPipelineDeployPhase target. -->
  <Target Name="_AfterPipelineDeployPhase" AfterTargets="PipelineDeployPhase"
          DependsOnTargets="$(AfterPipelineDeployPhaseDependsOn)" />

  <!-- TransformConfig target. -->
  <Target Name="TransformConfig">
    <Message Text="Transform Web.config for production." Importance="high" />

    <Error Text="You should ask the project owner for: '$(TransformFile)'."
           Condition=" !Exists('$(TransformFile)') " />

    <TransformXml Source="$(PublishUrl)Web.config"
                  Destination="$(PublishUrl)Web.config"
                  Transform="$(TransformFile)" />
  </Target>
</Project>