body {
    max-width: 50em;
    margin: 0 auto;
    padding-right: 1em;
    padding-left: 1em;
	font-size: 1em;
    font-family: "Open Sans", serif;
}
#TOC {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	border: 1px solid #ccc;
	z-index: 1;
	opacity: 1;
	background-color: white;
	overflow-y: scroll;
    height: 100%;
	font-size: .8em;
}
#TOC UL {
	padding-left: 1em;
	padding-right: 1em;
}
#TOC LI {
	list-style: none;
}
#TOC A {
	color: black;
	text-decoration: none;
}
PRE {
    border: 1px solid #ccc;
    border-radius: 3px;
}
CODE, TT {
    font-family: Consolas, monaco, monospace;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
	font-size: .9em;
    margin: 0;
    padding: 0 0.3em;
	border: 1px solid #e1e1e8;
}
CODE.hljs {
  background: rgba(0, 0, 0, 0.04);
}
PRE CODE {
    font-family: Consolas, monaco, monospace;
	font-size: 1.1em;
	border: none;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	border: none;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
	border-bottom: 2px solid black;
	line-height: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
h2.author {
	font-size: 1em;
	text-align: center;
	border: none;
}
h3 {
	font-size: 1em;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	line-height: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
h4 {
	font-size: 1em;
	font-style: italic;
	margin-top: 1em;
	margin-bottom: 1em;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    /* margin: 2em auto; */
	font-size: .9em;
}
table thead tr {
	background-color: #f8f8f8;
}
table tr {
	background-color: #fff;
    border-top: 1px solid #ccc;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 6px 13px;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
dt code {
	font-weight: bold;
}
dd p {
	margin-top: 0;
}
DT {
	font-style: italic;
}
footer {
	padding-top: 5em;
	padding-bottom: 2em;
	font-size: .7em;
	color: gray;
	text-align: center;
}
